/* You can add global styles to this file, and also import other style files */
body {
    background-color: navy !important;
}
.squares.square1{
    background: brown !important;
}
.squares.square7{
    background: white !important; 
}
input{
    text-align: center;
}
.size{
    font-size: 2rem;
}